<%- include('../partials/header') %>

<div style= "margin-top: 10%;">
	<h1 style="margin-left: 29%; margin-top: 25px; margin-bottom: 48px;">
	Edit <%=campground.name%>
</h1>
<div style="margin-left: 30%; margin-top: 25px;">
<form style="width: 40%;" action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
	<div class="form-group">
	<input class="form-control" type= "text" value="<%=campground.name%>" name="campground[name]">
	</div>
    <div class="form-group">
	<input class="form-control" type= "text" value="<%=campground.image%>" name="campground[image]">
	</div>
    <div class="form-group">
	<input class="form-control" type= "text" value="<%=campground.description%>" name="campground[description]">
	</div>
    <div class="form-group">
	<input class="btn btn-lg btn-primary form-control" style="padding-bottom: 30px;" type= "submit" value="Submit a Campground">
	</div>

</form>
</div>
</div>